@use "../global/index"as *;

#celebration {
    padding: 10rem 0 3rem;

    >div {
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
        padding: 7rem 0;
        width: calc(100% - 6rem);
        margin: 0 auto;
        text-align: center;
        letter-spacing: 0.05rem;
        font-weight: 900;

        h3 {
            margin: 0 0 5rem;

            +div {
                display: flex;
                flex-direction: column;
                gap: 5rem;
            }
        }
    }
}