@use "../global/index"as *;

#detail {
    .bg_white {
        padding: 2rem 0 3rem;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            border-style: solid;
            top: 100%;
            border-width: 0 0 7rem 100vw;
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(255, 255, 255, .8);
        }

        video {
            width: 100%;

            @include mq {
                max-height: calc(var(--vh, 1vh)*100);
            }
        }

        .img_flex {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 0 2rem;

            @include mq {
                flex-direction: row;
            }

            @include mq(md) {
                max-width: 70rem;
                margin: auto;
            }
        }
    }

}