@use "../global/index"as *;

footer {
    >div {
        >a {
            display: block;
            position: fixed;
            bottom: 0;
            right: 0;
            max-width: 8rem;
            box-shadow: 0 0 5px 0px #0000001c;
        }
    }
}