@use "../global/index"as *;

#greeting {
    padding: 5rem 0;

    >div {
        &:first-child {
            background: rgb(255 255 255 / 90%);
            font-family: "Noto Serif JP", serif;
            font-size: 1.8rem;
            margin: 0 auto 7rem;
            width: calc(100% - 6rem);
            text-align: center;
            padding: 6rem 0;
            line-height: 2.5;
            display: flex;
            flex-direction: column;
            gap: 5rem;
            box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
            font-weight: 600;
        }
    }
}