@use "../global/index"as *;

header {
    >div {
        position: relative;

        >div {
            &:first-child {
                background: url(../../images/main_visual.jpg) no-repeat 0 0/cover;
                width: 100%;
                height: calc(var(--vh, 1vh)*100);

                @include mq(md) {
                    background-image: url(../../images/main_visual_pc.jpg);
                    height: 75.5rem;
                }
            }

            &:nth-child(2) {
                position: absolute;
                top: 50%;
                left: 5vw;
            }

            &:last-child {
                background: url(../../images/cover_bottom.svg) no-repeat center/cover;
                width: 100%;
                position: absolute;
                bottom: 0;
                height: 12vh;

                @include mq(md) {
                    display: none;
                }
            }
        }
    }
}