@use "../global/index"as *;

#mizunoyado {
    padding: 5rem 0 0;

    .bg_white {
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            border-style: solid;
            bottom: 100%;
            border-width: 7rem 100vw 0 0;
            border-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, .8) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        }

        >div {
            max-width: 70rem;
            margin: auto;
        }

        .img_flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            @include mq(md) {
                justify-content: space-between;
            }

            >div {
                &:nth-child(3n+1) {
                    width: calc(100% - 4rem);

                    @include mq(md) {
                        width: 100%;
                    }
                }

                &:nth-child(2),
                &:nth-child(3) {
                    width: calc(50% - 1rem);
                    display: flex;
                }
            }
        }
    }
}