@use "../global/index"as *;

.caption {
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 1rem 0;
    line-height: 1;
    width: 95vw;
    margin: auto;
    position: relative;
    top: -2rem;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%);

    @include mq {
        width: 80vw;
        padding: 3rem 0;
    }

    img {
        @include mq {
            scale: 2;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: -2rem;
        left: 0;
        border-bottom: 1rem solid rgba(255, 255, 255, .9);
        border-left: .5rem solid rgba(255, 255, 255, .9);
        border-right: .5rem solid rgba(0, 0, 0, 0);
        border-top: 1rem solid rgba(0, 0, 0, 0);
    }
}